@page "/EditArticle/{Id}"
@using Article.Data
@inject ArticleService articleService
@inject NavigationManager NavigationManager

<h2>Edit Article</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input form="Nom" class="form-control" @bind="@obj.Id" />
            </div>
            <div class="form-group">
                <label for="Nom" class="control-label">Nom</label>
                <input form="Nom" class="form-control" @bind="@obj.Nom" />
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <input form="Description" class="form-control" @bind="@obj.Description" />
            </div>
            <div class="form-group">
                <label for="Prix" class="control-label">Prix</label>
                <input form="Prix" class="form-control" @bind="@obj.Prix" />
            </div>
            <div class="form-group">
                <label for="Disponible" class="control-label">Disponible</label>
                <input form="Disponible" class="form-control" @bind="@obj.Disponible" />
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateArticle" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Article obj = new Article();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => articleService.GetArticleAsync(Convert.ToInt32(Id)));
    }
    protected async void UpdateArticle()
    {
        await articleService.UpdateArticleAsync(obj);
        NavigationManager.NavigateTo("Articles");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Articles");
    }
}